<h1
  class="text-center my-8 sm:my-24 text-4xl sm:text-6xl font-bold text-purple-700"
>Bienvenido
  <b class="text-yellow-500">{{name}}</b></h1>
<div
  class="flex flex-col sm:flex-row justify-center space-y-2 sm:space-y-0 sm:space-x-4"
>
  <a
    href="/simulation"
    class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
  >
    PRIMER PROBLEMA MRU
  </a>
  <a
    href="/simulation2"
    class="inline-block bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
  >
    SEGUNDO PROBLEMA MRU
  </a>
</div>