<h1
  class="text-center my-8 sm:my-24 text-4xl sm:text-6xl font-bold text-purple-700"
>Bienvenido Investigador
  <b class="text-yellow-500">{{name}}</b></h1>
<div
  class="flex flex-col sm:flex-row justify-center space-y-2 sm:space-y-0 sm:space-x-4"
>
  <h1>QUE DESEAS HACER HOY ?</h1>
</div>