<h1
  class="text-center my-8 sm:my-24 text-4xl sm:text-6xl font-bold text-purple-700"
>
  Bienvenido
  <b class="text-yellow-500">{{name}}</b>
</h1>
<div
  class="flex flex-col sm:flex-row justify-center space-y-2 sm:space-y-0 sm:space-x-4"
>
  <a
    href="simulations/simulation"
    class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
  >
    PRIMER PROBLEMA MRU
  </a>
  <a
    href="simulations/simulation2"
    class="inline-block bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
  >
    SEGUNDO PROBLEMA MRU
  </a>
</div>
<div class="mt-8 text-center">
  <a
    href="home_student"
    class="inline-block bg-gradient-to-r from-red-500 via-pink-500 to-yellow-500 hover:from-yellow-500 hover:via-pink-500 hover:to-red-500 text-white font-bold py-3 px-6 rounded-full shadow-lg transform hover:scale-105 transition-transform duration-300"
  >
    Volver a Home
  </a>
</div>