<div class="container">
  <h1
    class="text-center text-1xl sm:text-1xl font-extrabold text-indigo-800 bg-gradient-to-r from-indigo-500 via-blue-500 to-green-500 text-transparent bg-clip-text py-3 sm:py-4 shadow-lg"
  >SEGUNDO PROBLEMA DE MOVIMIENTO RECTILÍNEO UNIFORME</h1>

  <div class="content">
    <div id="modal" class="modal">
      <div class="modal-content">
        <p id="modalText"></p>
        <button id="modalButton">Confirmar</button>
      </div>
    </div>

    <div id="alertModal" class="modal">
      <div class="modal-content">
        <p id="alertModalText"></p>
        <button id="confirmButton">Continuar</button>
        <button id="cancelButton">Corregir</button>
      </div>
    </div>

    <p style="text-align: justify;">
      Un avión comercial de la aerolínea BoA que se dirige de La Paz a Santa
      Cruz, con un movimiento rectilíneo uniforme logra recorrer
      <input
        class="w-20 px-3 py-2 border-2 border-indigo-300 rounded-lg text-indigo-800 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 transition-all duration-300"
        type="number"
        id="distanceInput"
        name="distanceInput"
        min="1"
        value="1600"
        oninput="updateValue(this.value)"
      />
      <script>
        function updateValue(value) {
        document.getElementById("distanceInput").textContent = value; }
      </script>
      <span class="font-math" title="metros">[m]</span>
      en
      <input
        class="w-20 px-3 py-2 border-2 border-indigo-300 rounded-lg text-indigo-800 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 transition-all duration-300"
        type="number"
        id="simulationTime"
        name="simulationTime"
        value="2"
      />
      <span class="font-math" title="segundos">[s]</span>.
      <b>¿Cuál es la velocidad del avión en
        <span class="font-math" title="metros sobre segundo">[m/s]</span>?</b>
    </p>

    <div class="controls">
      <!-- <label for="speedInput">Velocidad de la moto:</label> -->
      <button id="startButton" class="startButton">
        Iniciar simulación
      </button>
      <button id="endButton" class="endButton">Terminar simulación</button>
    </div>
  </div>

  <div class="main-container">
    <div class="simulation-container">

      <canvas id="canvas" width="700" height="300"></canvas>

    </div>
    <div class="graph-container">
      <h2 class="text-indigo-900 text-sm font-semibold underline">GRÁFICAS</h2>
      <div>
        <h2 class="text-indigo-800 text-sm italic font-semibold">
          Distancias Vs. Tiempo</h2>
        <canvas id="graphCanvas" width="400" height="300"></canvas>
      </div>
      <div>
        <h2 class="text-indigo-800 text-sm italic font-semibold">
          Velocidad Vs. Tiempo</h2>
        <canvas id="velocityGraphCanvas" width="400" height="300"></canvas>
      </div>
    </div>
  </div>

</div>
<script src="/js/simulation.js"></script>
<script src="/js/graph.js"></script>
<script src="/js/background.js"></script>
<script src="/js/distanceDisplay.js"></script>
<script src="/js/ruler.js"></script>
<script src="/js/clock.js"></script>
<script src="/js/imageParticle.js"></script>
<script src="/js/animation2.js"></script>