<div class="container">
  <h1
    class="text-center text-1xl sm:text-1xl font-extrabold text-indigo-800 bg-gradient-to-r from-indigo-500 via-blue-500 to-green-500 text-transparent bg-clip-text py-3 sm:py-4 shadow-lg"
  >SEGUNDO PROBLEMA DE MOVIMIENTO RECTILÍNEO UNIFORMEMENTE VARIADO</h1>

  <div class="content">

    <div id="modal" class="modal">
      <div class="modal-content">
        <p id="modalText"></p>
        <button id="modalButton">Confirmar</button>
      </div>
    </div>

    <div id="alertModal" class="modal">
      <div class="modal-content">
        <p id="alertModalText"></p>
        <button id="confirmButton">Continuar</button>
        <button id="cancelButton">Corregir</button>
      </div>
    </div>

    <p style="text-align: justify;">
      Una bola de billar es golpeada y comienza su movimiento con una velocidad
      de
      <input
        class="w-20 px-3 py-2 border-2 border-indigo-300 rounded-lg text-indigo-800 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 transition-all duration-300"
        type="number"
        id="sppedInput"
        name="sppedInput"
        min="1"
        value="4"
      /><span class="font-math ml-1" title="metros sobre segundo">[m/s]</span>
      y una aceleración de
      <input
        class="w-20 px-3 py-2 border-2 border-indigo-300 rounded-lg text-indigo-800 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 transition-all duration-300"
        type="number"
        id="acelerationInput"
        name="acelerationInput"
        min="1"
        value="9"
      /><span
        class="font-math ml-1"
        title="metros sobre segundo al cuadrado"
      >[m/s^2]</span>
      <b>¿Cuál será la distancia que recorrerá despues de </b>
      <input
        class="w-20 px-3 py-2 border-2 border-indigo-300 rounded-lg text-indigo-800 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 transition-all duration-300"
        type="number"
        id="timeInput"
        name="timeInput"
        min="1"
        value="12"
      />
      <b><span class="font-math ml-1" title="segundos">[s]</span>?.</b>

    </p>

    <div class="controls">
      <button id="startButton" class="startButton">
        Iniciar simulación
      </button>
      <button id="endButton" class="endButton">Terminar simulación</button>
    </div>
  </div>

  <div class="main-container">

    <div class="simulation-container">
      <canvas id="canvas" width="700" height="300"></canvas>
      <div class="params">
        <label for="simulationDistance">Distancia de simulación (metros):</label>
        <input
          type="range"
          id="simulationDistance"
          min="100"
          max="2500"
          value="700"
          oninput="updateValue(this.value)"
        />
        <span id="distanceValue">700</span>
        <script>
          function updateValue(value) {
          document.getElementById("distanceValue").textContent = value; }
        </script>
      </div>
    </div>
    <div class="graph-container">
      <div>
        <h2>Gráfica Distancias Vs. Tiempo</h2>
        <canvas id="graphCanvas" width="400" height="300"></canvas>
      </div>
      <div>
        <h2>Gráfica Velocidad Vs. Tiempo</h2>
        <canvas id="velocityGraphCanvas" width="400" height="300"></canvas>
      </div>
    </div>
  </div>
</div>

<script src="/js/simulation.js"></script>
<script src="/js/graph.js"></script>
<script src="/js/background.js"></script>
<script src="/js/distanceDisplay.js"></script>
<script src="/js/ruler.js"></script>
<script src="/js/clock.js"></script>
<script src="/js/imageParticle.js"></script>
<script src="/js/animation2_mruv.js"></script>